<!DOCTYPE html>

<html class="no-js" id="main-doc" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="content-language" content="{S_USER_LANG}">
	<meta http-equiv="imagetoolbar" content="no">
	{META}

	<title>
		<!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF -->
		<!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF -->
		<!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF -->
	</title>

	<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}"><!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
	<!-- ENDIF -->

	<!--
	 * phpBB style name:	ProtoMorph: Fluid
	 * Based on style:		prosilver ( this is the default phpBB3 style )
	 * Original author:		Tom Beddard ( http://www.subBlue.com/ )
	 * Modified by:			ProtoMorph ( http://protomorph.cf/ )
	-->

	<!--[if lt IE 9]>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic|Inconsolata:400,700">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
	<!-- A complete list of styles can be found at (https://highlightjs.org/static/test.html) -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css">
	<link rel="stylesheet" href="{T_STYLESHEET_LINK}">
	<link rel="stylesheet" href="{T_STYLESHEET_LANG_LINK}">

	<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link rel="stylesheet" href="{T_THEME_PATH}/rtl.css?assets_version={T_ASSETS_VERSION}">
	<!-- ENDIF -->

	<!-- IF S_PLUPLOAD -->
	<link rel="stylesheet" href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}">
	<!-- ENDIF -->

	<!--[if lte IE 9]>
		<link rel="stylesheet" href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" type="text/css" />
	<![endif]-->

	<!-- EVENT overall_header_head_append -->

	{$STYLESHEETS}

	<!-- EVENT overall_header_stylesheets_after -->

	<link rel="stylesheet" href="{T_THEME_PATH}/extra.css?assets_version={T_ASSETS_VERSION}">
</head>

<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

<!-- EVENT overall_header_body_before -->

<div id="page-header">
	<a id="top" class="anchor" accesskey="t"></a>

	<!-- INCLUDE navbar_header_top.html -->

	<div class="headerbar">
		<div class="inner">

			<a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->">
				{SITE_LOGO_IMG}
			</a>

			<div id="site-description">
				<a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">
					<h1>{SITENAME}</h1>

					<p>{SITE_DESCRIPTION}</p>
				</a>

				<div class="skiplink">
					<a href="#start_here">{L_SKIP}</a>
				</div>
			</div>

			<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<div id="search-box" class="search-box search-header">
				<form action="{U_SEARCH}" method="get" id="search">
					<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />

					<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>

					<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
					{S_SEARCH_HIDDEN_FIELDS}
				</form>
			</div>
			<!-- ENDIF -->

		</div>
	</div>

</div>

<div id="wrap">

	<div class="wrap-inner">

		<!-- INCLUDE navbar_header.html -->

		<!-- EVENT overall_header_page_body_before -->

		<a id="start_here" class="anchor"></a>
		<div id="page-body">
			<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
			<div id="information" class="rules">
				<div class="inner">
					<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
				</div>
			</div>
			<!-- ENDIF -->

			<!-- EVENT overall_header_content_before -->
