/* ========================================================================
 * Button Styles
 * ======================================================================== */
.button {
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	height: 32px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	font-size: 13px;
	color: #999999;
	line-height: 18px;
	text-decoration: none !important;
	outline-style: none !important;
	vertical-align: bottom;
	cursor: pointer;
	white-space: nowrap;
}

.button:hover,
.button:active,
.dropdown-visible .dropdown-select,
.nojs .dropdown-container:hover .dropdown-select {
	background-color: #eeeeee;
	border-color: #12a3eb;
	color: #12a3eb;
}

.dropdown-select { padding-right: 24px; }

.dropdown-select:hover,
.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select { border-color: #cccccc; }

.button:active,
.dropdown-select:active,
.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover {
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.125);
					box-shadow: inset 0 3px 6px rgba(0,0,0,.125);
}

.icon-button:before,
.dropdown-select:after { background-image: url("./images/icons_button.png"); }

.icon-button:before {
	content: '';
	display: inline-block;
	float: right;
	height: 12px;
	margin: 3px 0 0 5px;
	width: 12px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

/* Icon images */
.icon-acp,
.icon-bookmark,
.icon-bump,
.icon-contact,
.icon-delete-cookies,
.icon-download,
.icon-faq,
.icon-home,
.icon-logout,
.icon-mark,
.icon-mcp,
.icon-members,
.icon-notification,
.icon-pages,
.icon-pm,
.icon-print,
.icon-profile,
.icon-register,
.icon-search,
.responsive-search a,
.icon-search-active,
.icon-search-advanced,
.icon-search-new,
.icon-search-self,
.icon-search-unanswered,
.icon-search-unread,
.icon-sendemail,
.icon-subscribe,
.icon-team,
.icon-ucp,
.icon-unsubscribe { background-image: none); }

.dropdown-select.icon-button:before { margin-right: 4px; }

.dropdown-select:after {
	position: absolute;
	top: 14px;
	right: 3px;
	height: 10px;
	width: 16px;
	content: '';
	background-position: -105px 0;
}

.dropdown-select:hover:after,
.dropdown-visible .dropdown-select:after,
.nojs .dropdown-container:hover .dropdown-select:after { background-position: -105px 15px; }

.dropdown-select + .dropdown ul > li { padding: 0; }

.buttons,
.buttons .button { float: left; }

.buttons .button,
.dropdown-select { margin-right: 5px; }

#jumpbox .dropdown-select { margin: 0; }

/* Big button images */
.reply-icon:before,
.pmreply-icon:before { background-position: -20px 0; }

.reply-icon:hover:before,
.reply-icon:active:before,
.pmreply-icon:hover:before,
.pmreply-icon:active:before { background-position: -20px -20px; }

.post-icon:before,
.newpm-icon:before,
.reply-all:before { background-position: 0 0; }

.post-icon:hover:before,
.post-icon:active:before,
.newpm-icon:hover:before,
.newpm-icon:active:before,
.reply-all:hover:before,
.reply-all:active:before { background-position: 0 -20px; }

.locked-icon:before { background-position: -60px 0; }

.locked-icon:hover:before,
.locked-icon:active:before { background-position: -60px -20px; }

.forwardpm-icon:before { background-position: -40px 0; }

.forwardpm-icon:hover:before,
.forwardpm-icon:active:before { background-position: -40px -20px; }

.modtools-icon { font-size: 0; }

.tools-icon:before,
.modtools-icon:before,
.search-icon:before,
.search-adv-icon:before {
	margin-top: 4px;
	height: 16px;
	width: 16px;
	background-position: -80px 0;
}

.tools-icon:before,
.modtools-icon:before { margin: 3px 0 0 0; }

.tools-icon:hover:before,
.tools-icon:active:before { background-position: -80px -20px; }

.search-icon:before { background-position: -244px 0; }

.search-adv-icon:before { background-position: -265px 0; }

.modtools-icon:before { background-position: -225px 0; }

.modtools-icon:hover:before,
.modtools-icon:active:before { background-position: -225px -20px; }

/* ========================================================================
 * Icon images
 * ======================================================================== */
.small-icon { background-image: none; }

.small-icon > a {
	display: block;
	padding: 0;
}

ul.linklist.bulletin > li.small-icon:before { display: none; }

.dropdown .small-icon { background-image: none; }

.icon-acp,
.icon-bookmark,
.icon-bump,
.icon-contact,
.icon-delete-cookies,
.icon-download,
.icon-faq,
.icon-home,
.icon-logout,
.icon-mark,
.icon-mcp,
.icon-members,
.icon-notification,
.icon-pages,
.icon-pm,
.icon-print,
.icon-profile,
.icon-register,
.icon-search,
.icon-search-active,
.icon-search-advanced,
.icon-search-new,
.icon-search-self,
.icon-search-unanswered,
.icon-search-unread,
.icon-sendemail,
.icon-subscribe,
.icon-team,
.icon-ucp,
.icon-unsubscribe { background-image: none; }

.responsive-search a { background-image: url("./images/icon_search.gif"); }

@media (max-width: 480px) {
	ul.linklist > li.icon-acp,
	ul.linklist > li.icon-faq,
	ul.linklist > li.icon-mcp,
	ul.linklist > li.icon-team { display: none; }
}

@media (min-width: 481px) {
	.dropdown-contents > li.icon-acp,
	.dropdown-contents > li.icon-faq,
	.dropdown-contents > li.icon-mcp,
	.dropdown-contents > li.icon-team,
	.separator.icon-acp-mcp	{ display: none; }
}

/* ========================================================================
 * Poster contact icons
 * ======================================================================== */
.contact-icons.dropdown-contents {
	min-width: 0;
	padding: 0;
	font-size: 0;
}

.contact-icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}

.contact-icon { background-image: url("./images/icons_contact.png"); }

.contact-icons a {
	border-right: 0;
	display: block;
	float: left;
	padding: 8px;
}

.contact-icons .last-cell { border-right: none; }

.contact-icons div:last-child a { border-bottom: none; }

.contact-icons div { clear: left; }

/* Profile icons */
.pm-icon { background-position: 0 0; }

.email-icon { background-position: -21px 0; }

.jabber-icon { background-position: -80px 0; }

.phpbb_icq-icon { background-position: -61px 0 ; }

.phpbb_wlm-icon { background-position: -182px 0; }

.phpbb_aol-icon { background-position: -244px 0; }

.phpbb_website-icon { background-position: -40px 0; }

.phpbb_youtube-icon { background-position: -98px 0; }

.phpbb_facebook-icon { background-position: -119px 0; }

.phpbb_googleplus-icon { background-position: -140px 0; }

.phpbb_skype-icon { background-position: -161px 0; }

.phpbb_twitter-icon { background-position: -203px 0; }

.phpbb_yahoo-icon { background-position: -224px 0; }

/* ========================================================================
 * Post control buttons
 * ======================================================================== */
.post-buttons {
	float: right;
	list-style: none;
	margin-top: 0;
}

.has-profile .post-buttons {
	position: absolute;
	margin: 0;
	right: 0;
	float: none;
	top: 0;
}

@media (max-width: 480px) {
	.has-profile .post-buttons {
		right: 20px;
		top: 15px;
	}
}

.post-buttons > li {
	float: left;
	margin-right: 2px;
}

.post-buttons .icon-button,
.hastouch .post-buttons .icon-button {
	padding: 5px 8px;
	height: auto;
}

.post-buttons .icon-button span {
	position: absolute;
	display: block;
	height: 0;
	overflow: hidden;
	width: 1px;
}

.post-buttons .icon-button:before { margin-left: 0; }

.quote-icon:before { background-position: -122px 0; }

.quote-icon:hover:before { background-position: -122px -21px; }

.edit-icon:before { background-position: -137px 0; }

.edit-icon:hover:before { background-position: -137px -21px; }

.warn-icon:before { background-position: -208px 0; }

.warn-icon:hover:before { background-position: -208px -21px; }

.delete-icon:before { background-position: -152px 0; }

.delete-icon:hover:before { background-position: -152px -21px; }

.report-icon:before { background-position: -165px 0; }

.report-icon:hover:before { background-position: -165px -21px; }

.info-icon:before { background-position: -175px 0; }

.info-icon:hover:before { background-position: -175px -21px; }

.button.responsive-menu-link:before { background-position: -191px 0; }

.button.responsive-menu-link:hover:before { background-position: -191px -21px; }

/* Responsive buttons in post body */
.post-buttons .dropdown { top: 18px; }

.post-buttons .dropdown a {
	display: block;
	font-size: 1.2em;
	text-align: right;
}

.hasjs .postbody .post-buttons { max-width: 40%; }

/* Browser-specific tweaks */
button::-moz-focus-inner {
	padding: 0;
	border: 0
}
