/* =======================================================================
 * ProtoMorph Fluid: Version 1.0.0
 * @protomorph (http://protomorph.tk/)
 * ======================================================================= */
@-ms-viewport {
	width: device-width;
	zoom: 1;
}

@-o-viewport {
	width: device-width;
	zoom: 1;
}

@viewport {
	width: device-width;
	zoom: 1;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

::-moz-selection {
	background: #12a3eb;
	color: #ffffff;
	text-shadow: none;
}

::selection {
	background: #12a3eb;
	color: #ffffff;
	text-shadow: none;
}

/* =======================================================================
 * CSS Reset http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 * ======================================================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol,
ul { list-style: none; }

blockquote,
q { quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================================================================
 * Print
 * ======================================================================== */
@media print {
	* {
		padding: 0;
		margin: 0;
	}

	body {
		font: 11pt Verdana, Arial, Helvetica, sans-serif;
		color:#000000;
	}

	a:link,
	a:visited,
	a:active {
		color: #000000;
		text-decoration: none;
	}

	img,
	.noprint,
	#sub-header,
	#sub-footer,
	.navbar,
	.box1,
	.divider,
	.signature { display: none; }

	.content img { display: inline; }

	#wrap { margin: 0 2em; }

	p { font-size: 85%; }

	.copyright { font-size: 75%; }

	.page-number {
		float:right;
		width: auto;
		text-align: right;
		font-size: 75%;
	}

	h1,
	h2,
	h3,
	h1 a,
	h2 a,
	h3 a {
		font-family: "Trebuchet MS",georgia,Verdana,Sans-serif;
		color: #000000;
		background: none;
		text-decoration: none;
		font-weight: 600;
	}

	h1 { font-size: 20pt; }

	h2 {
		font-size: 16pt;
		margin-top: 1em;
	}

	h3 {
		font-size: 14pt;
		margin-top: 1em;
	}

	.content {
		font-size: 11pt;
		line-height: 14pt;
		margin-bottom: 1em;
		font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		overflow: hidden;
	}

	.postbody a:link,
	.postbody a:visited,
	.postbody a:hover,
	.postbody a:active {
		text-decoration: underline;
		padding: 0.1em 0.2em;
		margin: -0.1em -0.2em;
		color: #666;
		background: none;
		font-size: 100%;
	}

	html > body .postbody a:link:after,
	html > body .postbody a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
		text-decoration: none;
	}

	hr {
		height: 1px;
		background-color: #999999;
		border-width: 0;
	}

	.author {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 75%;
		margin-bottom: 0.6em;
	}

	.date {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		float: right;
		position: relative;
		text-align: right;
		font-size: 75%;
	}

	.postbody .author a:link,
	.postbody .author a:visited,
	html > body .postbody .author a:link:after,
	html > body .postbody .author a:visited:after,
	.postquote .quote-by a:link,
	.postquote .quote-by a:visited,
	html > body .postquote .quote-by a:link:after,
	html > body .postquote .quote-by a:visited:after,
	html > body .postbody h1 a:link:after,
	html > body .postbody h2 a:link:after {
		text-decoration: none;
		content: "";
	}

	.postprofile { display: none; }

	.grip-show { display:none; }

	.postquote,
	blockquote {
		font-size: 85%;
		margin: 1em 18% 1em 4%;
		padding: 0.5em;
		position: relative;
		line-height: 1.5em;
		border: 1px #999999 solid;
	}

	.postquote img { display: none; }

	.postquote span { display: block; }

	.postquote span .postquote { font-size: 100%; }

	.quote-by,
	blockquote cite {
		color: black;
		display : block;
		font-weight: 600;
	}

	ol,
	ul { margin-left: 15pt }

	div.spacer { clear: both; }

	.skip_link { display: none; }

	.codebox p { display: none; }
}

/* =======================================================================
 * General Markup Styles
 * ======================================================================= */
html {
	height: 100%;
	width: 100%;
	font-size: 10px;
}

body {
	position: relative;
	z-index: 1;
	max-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-color: #fff;
	/* https://unsplash.com/ */
	background-image: url("./images/bg.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
					background-size: cover;
	line-height: 1.42857;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #353535;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body:after {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: '';
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAA2SURBVHja7M+xEQAwDMJAnCm0/6LKDjm6WBUlP2oqqQEEnreaaT06abW0pS3tU9oFAAD//wMAKLXI61XLVnQAAAAASUVORK5CYII=');
	opacity: .0875;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 36px;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 30px;
}

h2.solo { margin-bottom: 20px; }

h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
}

h4 { font-size: 18px; }

p { margin-bottom: 10px; }

@media (max-width: 767px) {
	p { overflow: hidden; }
}

p.right { text-align: right; }

p.time { font-size: 12px; }

img {
	border-width: 0;
	max-width: 100%;
}

hr {
	display: block;
	clear: both;
	margin: 15px 0;
	height: 0;
	border: 0 solid #12a3eb;
	border-width: 2px 0 0 0;
}

hr.dashed {
	border-top-style: dotted;
	margin: 10px 0;
}

hr.divider { display: none; }

b,
strong { font-weight: 800; }

i,
em { font-style: italic; }

u { text-decoration: underline; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

li { display: list-item; }

ul ul,
ol ul { list-style-type: circle; }

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul { list-style-type: square; }

a {
	direction: ltr;
	unicode-bidi: embed;
	text-decoration: none;
	color: #12a3eb;
	outline: none;
}

a:hover	{
	color: #0076b1;
	text-decoration: underline;
}

code,
pre { font-family: "Inconsolata", Menlo, Monaco, Consolas, "Courier New", monospace; }

pre {
	position: relative;
	z-index: 1;
	display: block;
	padding: 0;
	margin: 0 0 15px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #999999;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	-moz-tab-size: 4;
		-o-tab-size: 4;
			 tab-size: 4;
}

/* Inner box-model clearing */
.clearfix:before,
.clearfix:after,
.wrap-inner:before,
.wrap-inner:after,
fieldset dl:before,
fieldset dl:after,
ul.topiclist dl:before,
ul.topiclist dl:after,
dl.polls:before,
dl.polls:after,
.inner:before,
.inner:after,
.action-bar:before,
.action-bar:after,
.notification_text:before,
.notification_text:after,
.tabs-container:before,
.tabs-container:after,
#tabs > ul:before,
#tabs > ul:after,
#minitabs > ul:before,
#minitabs > ul:after,
.postprofile .avatar-container:before,
.postprofile .avatar-container:after,
div.jumpbox-return:before,
div.jumpbox-return:after,
.search-header:before,
.search-header:after {
	display: table;
	content: " ";
}

.clearfix:after,
.wrap-inner:after,
fieldset dl:after,
ul.topiclist dl:after,
dl.polls:after,
.inner:after,
.action-bar:after,
.notification_text:after,
.tabs-container:after,
#tabs > ul:after,
#minitabs > ul:after,
.postprofile .avatar-container:after,
div.jumpbox-return:after,
.search-header:after { clear: both; }

/* ========================================================================
 * Header
 * ======================================================================== */
.headerbar {
	padding: 30px 10px;
	margin-bottom: 0;
	background-color: transparent;
}

.headerbar > .inner {
	padding: 0;
	margin: 0 auto;
	max-width: 100%;
	border: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
	.headerbar { padding: 40px 15px; }

	.headerbar > .inner { max-width: 970px; }
}

@media (min-width: 993px) and (max-width: 1199px) {
	.headerbar { padding: 50px; }

	.headerbar > .inner { max-width: 970px; }
}

@media (min-width: 1200px) {
	.headerbar { padding: 60px; }

	.headerbar > .inner { max-width: 1170px; }
}

.headerbar > .inner:before,
.headerbar > .inner:after {
	display: table;
	content: " ";
}

.headerbar > .inner:after { clear: both; }

.logo {
	float: left;
	display: none; /* set to block to show logo */
	width: auto;
	padding: 0;
	margin-right: 10px;
	opacity: .8;
}

@media (max-width: 767px) {
.logo {
		/* change display value to inline-block to show logo */
		display: none;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

.logo:hover {
	text-decoration: none;
	opacity: 1;
}

/* Site description and logo */
#site-description {
	float: left;
	display: block; /* set to none to hide description */
}

@media (max-width: 767px) {
	#site-description {
		float: none;
		width: auto;
		text-align: center;
	}
}

#site-description > a {
	display: block;
	color: #353535;
	text-decoration: none;
}

#site-description > a:hover {
	color: #545454;
	text-decoration: none;
}

#site-description h1,
#site-description p {
	margin: 0;
	font-weight: 300;
	text-shadow: 0 4px 8px rgba(0,0,0,.352);
}

#site-description h1 { font-size: 50px; }

#site-description p { font-size: 28px; }

@media (max-width: 767px) {
	#site-description p,
	.search-header { display: none; }
}

/* =======================================================================
 * Main blocks
 * ======================================================================= */
#wrap {
	padding: 15px 10px;
	margin-bottom: 40px;
	max-width: 100%;
	background-color: #ffffff;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.176);
					box-shadow: 0 4px 8px rgba(0,0,0,.176);
}

#wrap > .wrap-inner {
	padding: 0;
	margin: 0 auto;
	max-width: 100%;
	border: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
	#wrap { padding: 15px 15px; }

	#wrap > .wrap-inner { max-width: 970px; }
}

@media (min-width: 993px) and (max-width: 1199px) {
	#wrap { padding: 15px 20px; }

	#wrap > .wrap-inner { max-width: 970px; }
}

@media (min-width: 1200px) {
	#wrap { padding: 15px 20px; }

	#wrap > .wrap-inner { max-width: 1170px; }
}

#page-body,
#page-footer {
	margin: 0;
	clear: both;
}

/* ========================================================================
 * Navbars
 * ======================================================================== */
.navbar-header-top,
.navbar-footer {
	padding: 0 10px;
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.176);
					box-shadow: 0 4px 8px rgba(0,0,0,.176);
}

.navbar-header-top > .inner,
.navbar-footer > .inner {
	padding: 0;
	margin: 0 auto;
	max-width: 100%;
	border: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
	.navbar-header-top,
	.navbar-footer { padding: 0 15px; }

	.navbar-header-top > .inner,
	.navbar-footer > .inner { max-width: 970px; }
}

@media (min-width: 993px) and (max-width: 1199px) {
	.navbar-header-top,
	.navbar-footer { padding: 0 20px; }

	.navbar-header-top > .inner,
	.navbar-footer > .inner { max-width: 970px; }
}

@media (min-width: 1200px) {
	.navbar-header-top,
	.navbar-footer { padding: 0 20px; }

	.navbar-header-top > .inner,
	.navbar-footer > .inner { max-width: 1170px; }
}

.navbar-header-top > .inner:before,
.navbar-header-top > .inner:after,
.navbar-footer > .inner:before,
.navbar-footer > .inner:after {
	display: table;
	content: " ";
}

.navbar-header-top > .inner:after,
.navbar-footer > .inner:after { clear: both; }

.navbar-footer .linklist { max-width: 50%; }

.navbar-header-top .linklist > li > a,
.navbar-footer .linklist > li > a,
.navbar-footer .linklist > li > .crumb > a,
.navbar-footer .linklist > li > span:not(.crumb) {
	padding: 15px;
	line-height: 20px;
	text-decoration: none;
}

.navbar-footer .linklist > li > a,
.navbar-footer .linklist > li > span,
.navbar-footer .linklist > li > span > a { font-size: 12px; }

.navbar-header-top .linklist > li > a:hover,
.navbar-footer .linklist > li > a:hover,
.navbar-footer .linklist > li > .crumb:hover > a,
.navbar-header-top .linklist > li.visible > a,
.navbar-footer .linklist > li.visible > a,
.navbar-header-top .linklist > li.visible > a:hover,
.navbar-footer .linklist > li.visible > a:hover { background-color: #eeeeee; }

.icon-notification > a > strong,
.icon-pm > a > strong {
	padding-left: 4px;
	padding-right: 4px;
	font-weight: 600;
	color: #ffffff;
}

.icon-notification > a > strong { background-color: #ed1236; }

.icon-pm > a > strong { background-color: #31d510; }

.navbar-footer .linklist > li > span:not(.crumb) { display: block; }

.navbar-footer .linklist > li > span.current-timezone { padding-right: 0; }

.navbar-header,
.navbar-footer { margin-bottom: 20px; }

/* ========================================================================
 * Footer
 * ======================================================================== */
#page-footer { padding: 0; }

#page-footer > .inner > .copyright {
	padding: 0 0 20px;
	margin: 0 auto;
	width: 100%;
	color: #353535;
	font-size: 12px;
	text-align: left;
}

@media (max-width: 767px) {
	#page-footer > .inner > .copyright { padding: 0 10px 20px; }
}

@media (min-width: 768px) and (max-width: 992px) {
	#page-footer > .inner > .copyright { max-width: 970px; }
}

@media (min-width: 993px) and (max-width: 1199px) {
	#page-footer > .inner > .copyright { max-width: 970px; }
}

@media (min-width: 1200px) {
	#page-footer > .inner > .copyright { max-width: 1170px; }
}

/* =======================================================================
 * Round cornered boxes and backgrounds
 * ======================================================================= */
.forabg,
.forumbg {
	margin-bottom: 20px;
	padding: 0;
	clear: both;
	background-color: transparent;
}

.panel,
.post {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 100% 0;
	border-bottom: 2px solid #12a3eb;
}

#cp-main .panel { padding: 0; }

.panel .panel {
	margin-bottom: 0;
	border-bottom: 0;
}

.bg1,
table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) { background-color: #f8f8f8; }

.bg2,
table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) { background-color: #f3f3f3; }

.bg3 { background-color: #eeeeee; }

.panel.bg1,
.post.bg1,
.panel.bg2,
.post.bg2,
.panel.bg3,
.post.bg3 { background-color: #ffffff; }

.ucprowbg { background-color: #f8f8f8; }

.fieldsbg { background-color: #f3f3f3; }

.rowbg { margin: 5px 5px 2px 5px; }

/* =======================================================================
 * Horizontal lists
 * ======================================================================= */
.navbar ul.linklist,
ul.linklist {
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	text-align: left;
}

ul.linklist.navlinks-rightside {
	float: right;
	text-align: right;
}

ul.linklist > li {
	float: left;
	display: block;
	list-style-type: none;
	width: auto;
}

.linklist > li.small-icon { background-image: none; }

ul.linklist > li > a { display: block; }

p.rightside,
a.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

@media (max-width: 767px) {
	p.responsive-center {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
}

ul.linklist > li.responsive-menu { position: relative; }

ul.linklist > li.responsive-menu a.responsive-menu-link {
	position: relative;
	min-width: 14px;
	text-decoration: none;
}

.navbar-header-top ul.linklist > li.responsive-menu a.responsive-menu-link { height: 50px; }

ul.linklist > li.responsive-menu a.responsive-menu-link:before {
	position: relative;
	top: 0;
	display: inline-block;
	padding: 0;
	height: 10px;
	width: 14px;
	content: '';
	border-bottom: 2px solid #12a3eb;
	border-top: 6px double #12a3eb;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before,
ul.linklist li.responsive-menu.visible a.responsive-menu-link:before { border-color: #0076b1; }

.navbar-header-top ul.linklist > li.responsive-menu a.responsive-menu-link:before { top: 0; }

ul.linklist > li.responsive-menu a.responsive-menu-link > span { display: none; }

.hasjs ul.linklist.leftside,
.hasjs ul.linklist.rightside { max-width: 48% }

.hasjs ul.linklist.fullwidth { max-width: none; }

li.responsive-menu.dropdown-right .dropdown { left: -1px; }

li.responsive-menu.dropdown-left .dropdown { right: -1px; }

ul.linklist .dropdown {
	top: 80%;
	top: calc(100% - 11px);
}

ul.linklist .dropdown-up .dropdown {
	bottom: 80%;
	bottom: calc(100% - 11px);
	top: auto;
}

li.icon-subscribe > a { color: #31d510;}

li.icon-unsubscribe > a { color: #ed1236;}

/* =======================================================================
 * Bulletin icons for list items
 * ======================================================================= */
.responsive-menu:before { display: none !important; }

/* Profile in overall_header.html */
.header-profile {
	display: inline-block;
	vertical-align: top;
}

.header-avatar:hover { text-decoration: none; }

.header-avatar img {
	margin-bottom: 2px;
	max-height: 20px;
	vertical-align: middle;
	width: auto;
}

.header-avatar span.username-coloured {
	display: inline-block;
	height: 20px;
}

.header-avatar span.username-coloured:after {
	display: inline-block;
	margin-left: 5px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f0d7';
}

/* Coloured usernames */
.username-coloured {
	font-weight: 600;
	display: inline;
	padding: 0;
}

/* =======================================================================
 * Dropdown menu
 * ======================================================================= */
.dropdown-container { position: relative; }

.dropdown-container-right { float: right; }

.dropdown-container-left { float: left; }

.nojs .dropdown-container:hover .dropdown { display: block !important; }

.dropdown {
	position: absolute;
	left: -1px;
	top: 100%;
	z-index: 35;
	border: 1px solid transparent;
	padding: 10px 0 0;
	margin-right: -500px;
}

.dropdown.live-search { top: auto; }

.dropdown-container.topic-tools { float: left; }

.dropdown-up .dropdown {
	top: auto;
	bottom: 22px;
	bottom: calc(100% - 11px);
	padding: 0 0 9px;
}

.dropdown-left .dropdown,
.nojs .rightside .dropdown {
	left: auto;
	right: -1px;
	margin-left: -500px;
	margin-right: 0;
}

.dropdown-button-control .dropdown { top: 24px; }

.dropdown-button-control.dropdown-up .dropdown {
	top: auto;
	bottom: 22px;
	bottom: calc(100% - 11px);
}

.dropdown .pointer,
.dropdown .pointer-inner {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-top-width: 0;
	border-bottom: 10px solid transparent;
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	-webkit-transform: rotate(360deg); /* better anti-aliasing in webkit */
}

.dropdown-up .pointer,
.dropdown-up .pointer-inner {
	border-bottom-width: 0;
	border-top: 10px solid transparent;
}

.dropdown .pointer { border-color: #e3e3e3 transparent; }

.dropdown .pointer-inner { border-color: #ffffff transparent; }

.dropdown .pointer {
	right: auto;
	left: 10px;
	top: 0;
	z-index: 36;
}

.dropdown-up .pointer {
	bottom: 0;
	top: auto;
}

.dropdown-left .dropdown .pointer,
.nojs .rightside .dropdown .pointer {
	left: auto;
	right: 10px;
}

.dropdown .pointer-inner {
	top: auto;
	bottom: -11px;
	left: -10px;
}

.dropdown-up .pointer-inner {
	bottom: auto;
	top: -11px;
}

.dropdown .dropdown-contents {
	position: relative;
	padding: 5px 0;
	min-width: 40px;
	max-height: 300px;
	overflow: hidden;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.176);
					box-shadow: 0 4px 8px rgba(0,0,0,.176);
}

.dropdown-up .dropdown-contents {
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.176);
					box-shadow: 0 4px 8px rgba(0,0,0,.176);
}

.dropdown li {
	float: none !important;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	list-style: none;
	border-top: 0;
	white-space: nowrap;
	text-align: left;
}

.dropdown li:hover { background-color: #eeeeee; }

.dropdown-contents > li { padding-right: 15px; }

.dropdown-nonscroll > li { padding-right: 0; }

.dropdown li > a,
.dropdown li > span {
	display: block;
	padding: 5px 15px;
	text-decoration: none;
}

.dropdown li:first-child,
.dropdown li.separator + li,
.dropdown li li { border-top: 0; }

.dropdown li li:first-child { margin-top: 4px; }

.dropdown li li:last-child { padding-bottom: 0; }

.dropdown li li {
	border-top: 1px dotted transparent;
	padding-left: 18px;
}

.wrap .dropdown li,
.dropdown.wrap li,
.dropdown-extended li { white-space: normal; }

.dropdown li.separator {
	border-top: 1px solid #e3e3e3;
	margin: 5px 0;
	padding: 0;
}

.dropdown li.separator:first-child,
.dropdown li.separator:last-child { display: none !important; }

/* =======================================================================
 * Responsive breadcrumbs
 * ======================================================================= */
.breadcrumbs .crumb {
	float: left;
	display: block;
	word-wrap: normal;
}

.breadcrumbs .crumb:before {
	display: inline-block;
	padding-left: 5px;
	content: '/';
}

.breadcrumbs .crumb:first-child:before { content: none; }

.breadcrumbs .crumb a {
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
	overflow: hidden;
}

.breadcrumbs.wrapped .crumb a { letter-spacing: -.3px; }

.breadcrumbs.wrapped .crumb.wrapped-medium a { letter-spacing: -.4px; }

.breadcrumbs.wrapped .crumb.wrapped-tiny a { letter-spacing: -.5px; }

.breadcrumbs .crumb.wrapped-max a { max-width: 120px; }

.breadcrumbs .crumb.wrapped-wide a { max-width: 100px; }

.breadcrumbs .crumb.wrapped-medium a { max-width: 80px; }

.breadcrumbs .crumb.wrapped-small a { max-width: 60px; }

.breadcrumbs .crumb.wrapped-tiny a { max-width: 40px; }

/* =======================================================================
 * Table styles
 * ======================================================================= */
table.table1 { width: 100%; }

#ucp-main table.table1 { padding: 0; }

table.table1 thead th {
	padding: 5px;
	padding-bottom: 10px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
}

table.table1 thead th:first-child { padding-left: 0; }

table.table1 thead th:last-child { padding-right: 0; }

table.table1 thead th span { padding-left: 7px; }

table.table1 td { font-size: 12px; }

table.table1 tbody td {
	padding: 5px;
	border-bottom: 1px solid #e3e3e3;
}

table.table1 tbody td:first-child { border-left: 1px solid #e3e3e3; }

table.table1 tbody td:last-child { border-right: 1px solid #e3e3e3; }

table.table1 tbody tr:first-child td { border-top: 1px solid #e3e3e3; }

table.table1 tbody th {
	padding: 5px;
	text-align: left;
}

/* Specific column styles */
table.table1 .name { text-align: left; }

table.table1 .posts,
table.table1 .mark {
	text-align: center;
	width: 5%;
}

table.table1 .joined,
table.table1 .active {
	text-align: left;
	width: 20%;
}

table.table1 .info {
	text-align: left;
	width: 30%;
}

table.table1 .info div {
	width: 100%;
	white-space: normal;
	overflow: hidden;
}

table.table1 .autocol { white-space: nowrap; }

table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td { padding: 3px; }

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

@media (max-width: 767px) {
	table.responsive,
	table.responsive tbody,
	table.responsive tr,
	table.responsive td { display: block; }

	table.responsive thead,
	table.responsive th { display: none; }

	table.responsive.show-header thead,
	table.responsive.show-header th:first-child {
		display: block;
		width: auto !important;
		text-align: left !important;
	}

	table.responsive.show-header th:first-child span.rank-img { display: none; }

	table.responsive tr { margin: 2px 0; }

	table.responsive td {
		width: auto !important;
		text-align: left !important;
		padding: 4px;
	}

	table.responsive td.empty { display: none !important; }

	table.responsive td > dfn { display: inline-block !important; }

	table.responsive td > dfn:after {
		content: ':';
		padding-right: 5px;
	}

	table.responsive span.rank-img {
		float: none;
		padding-right: 5px;
	}

	table.responsive#memberlist td:first-child input[type="checkbox"] { float: right; }
}

.forumbg table.table1,
.forumbg-table > .inner { margin: 0; }

#color_palette_placeholder table {
	border-collapse: separate;
	border-spacing: 1px;
}

/* =======================================================================
 * Misc layout styles
 * =======================================================================
 * column[1-2] styles are containers for two column layouts
 * ======================================================================= */
.column1,
.column2 {
	float: left;
	display: block;
	width: 50%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
	max-width: 100%;
}

.left-box.profile-details { width: 80%; }

@media (max-width: 767px) {
	.column1,
	.column2,
	.left-box.profile-details {
		float: none;
		width: 100%;
	}
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
	max-width: 100%;
}

dl.details { font-size: 12px; }

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	float: left;
	width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 480px) {
	dl.details dt,
	dl.details dd {
		width: auto;
		float: none;
		text-align: left;
	}

	dl.details dd { margin-left: 20px; }
}

fieldset.fields1 ul.recipients {
	list-style-type: none;
	max-height: 150px;
	overflow-y: auto;
}

fieldset.fields1 dd.recipients {
	clear: left;
	margin-left: 10px;
}

fieldset.fields1 ul.recipients input.button2{
	font-size: 0.8em;
	margin-right: 0;
	padding: 0;
}

fieldset.fields1 dl.pmlist > dt { width: auto !important; }

fieldset.fields1 dl.pmlist dd.recipients { margin-left: 0 !important; }

.sep { color: #999999; }

/* =======================================================================
 * Action-bars (container for post/reply buttons, pagination, etc.)
 * ======================================================================= */
.action-bar { margin-bottom: 20px; }

.action-bar.compact { font-size: 12px; }

.forabg + .action-bar { margin-top: 20px; }

/* =======================================================================
 * Pagination
 * ======================================================================= */
.pagination {
	float: right;
	width: auto;
	margin-top: 6px;
	margin-bottom: 6px;
	line-height: 20px;
	font-size: 12px;
	text-align: right;
}

@media (max-width: 767px) {
	.action-bar > .pagination {
		float: none;
		clear: both;
		padding-top: 15px;
		margin-top: 0;
		text-align: center;
	}
}

.pagination > ul {
	display: inline-block;
	list-style: none !important;
	margin-left: 5px;
}

.pagination > ul > li {
	display: inline-block !important;
	padding: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: middle;
}

.pagination li a,
.pagination li span {
	display: block;
	padding: 1px 6px;
	min-width: 10px;
	border: 1px solid transparent;
	font-size: 10px;
	font-weight: normal;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
}

.pagination li a {
	color: #999999;
	background-color: #ffffff;
	border-color: #e3e3e3;
}

.pagination li a:hover,
.pagination li a:active,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	border-color: #12a3eb;
	background-color: #12a3eb;
	color: #ffffff;
}

.pagination li a:active,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.125);
					box-shadow: inset 0 3px 6px rgba(0,0,0,.125);
}

.pagination li.ellipsis span {
	border: none;
	padding: 0;
	background-color: transparent;
	color: #353535;
}

.pagination li.active span {
	color: #ffffff;
	background-color: #0076b1;
	border-color: #0076b1;
	cursor: default;
}

.pagination li.page-jump { margin-right: 5px; }

@media (max-width: 767px) {
	.action-bar > .pagination li.page-jump { margin: 0 5px; }
}

.pagination li.page-jump a,
.pagination li.next a,
.pagination li.previous a {
	width: 20px;
	background-image: url("./images/icons_pagination.png");
	background-repeat: no-repeat;
	font-size: 0;
}

.pagination li.page-jump a {
	width: 24px;
	background-position: 0 2px;
}

.pagination li.next a { background-position: -50px 2px; }

.pagination li.previous a { background-position: -30px 2px; }

.pagination li.page-jump a:hover,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger { background-position: 0 -18px; }

.pagination li.next a:hover { background-position: -50px -18px; }

.pagination li.previous a:hover { background-position: -30px -18px; }

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	margin-top: 0;
	padding: 0;
	font-size: 10px;
}

.row .pagination > ul { margin: 0; }

.row .pagination li a,
.row .pagination li span { padding: 0 5px; }

/* =======================================================================
 * jQuery popups
 * ======================================================================= */
.phpbb_alert {
	position: fixed;
	right: 0;
	top: 50%;
	left: 0;
	display: none;
	z-index: 50;
	padding: 15px;
	margin: 0 auto;
	width: 620px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: 0 8px 16px rgba(0,0,0,.176);
					box-shadow: 0 8px 16px rgba(0,0,0,.176);
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}

@media (max-height: 480px) {
	.phpbb_alert { top: 25px; }
}

@media (max-height: 767px) {
	.phpbb_alert { width: auto; }
}

.phpbb_alert .alert_close {
	position: relative;
	float: right;
	display: block;
	margin-top: -16px;
	margin-right: -16px;
	width: 25px;
	height: 25px;
	text-decoration: none !important;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	color: #ed1236;
}

.phpbb_alert .alert_close:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	content: 'X';
	line-height: 23px;
	color: #ed1236;
	font-weight: 800;
	text-align: center;
}

.phpbb_alert .alert_close:hover {
	background-color: #ed1236;
	border-color: #ed1236;
}

.phpbb_alert .alert_close:hover:before { color: #ffffff; }

.phpbb_alert p {
	padding-bottom: 0;
	margin-bottom: 10px;
}

.phpbb_alert label {
	display: block;
	padding-bottom: 8px;
	margin: 8px 0;
}

.phpbb_alert div.alert_text > p,
.phpbb_alert div.alert_text > label,
.phpbb_alert div.alert_text > select,
.phpbb_alert div.alert_text > textarea,
.phpbb_alert div.alert_text > input { font-size: 12px; }

#darkenwrapper {
	position: relative;
	display: none;
	z-index: 44;
}

#darken {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: 45;
	background-color: #353535;
}

#loading_indicator {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 51;
	display: none;
	height: 50px;
	width: 50px;
	background-color: #12a3eb;
	background-image: url("./images/loading.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 8px 16px rgba(0,0,0,.176);
					box-shadow: 0 8px 16px rgba(0,0,0,.176);
	-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
}

/* =======================================================================
 * Miscellaneous styles
 * ======================================================================= */
#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.copyright {
	padding: 5px;
	text-align: center;
}

.small { font-size: 0.9em !important; }

.titlespace { margin-bottom: 15px; }

.headerspace {
	margin-top: 20px;
	margin-bottom: 20px;
}

.error {
	font-weight: 600;
	color: #b3001e;
}

.reported { background-color: #f7ecef; }

.sticky,
.announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #ed1236;
	color: #ffffff;
}

div.rules a {
	color: #ffffff;
	font-weight: 600;
	text-decoration: underline;
}

div.rules ul,
div.rules ol { margin-left: 20px; }

p.post-notice {
	position: relative;
	padding: 5px;
	padding-left: 26px;
	margin-bottom: 110px;
	min-height: 14px;
}

p.post-notice.deleted { background-color: #ed1236; }

p.post-notice.unapproved { background-color: #10d5b5; }

p.post-notice.reported,
p.post-notice.error { background-color: #ed1236; }

p.post-notice:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 28px;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	pointer-events: none;
}

p.post-notice.deleted:before { background-image: url("./images/icon_topic_deleted.png"); }

p.post-notice.unapproved:before { background-image: url("./images/icon_topic_unapproved.gif"); }

p.post-notice.reported:before,
p.post-notice.error:before { background-image: url("./images/icon_topic_reported.gif"); }

form > p.post-notice strong { line-height: 20px; }

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

.hidden,
ul.linklist > li.hidden { display: none; }

@media (min-width: 768px) {
	ul.linklist > li.hidden { display: none; }
}

.smilies { vertical-align: text-bottom; }

.icon-notification { position: relative; }

.member-search {
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

.member-search strong { font-size: 12px; }

/* =======================================================================
 * Junpbox
 * ======================================================================= */
#jumpbox { margin-bottom: 0; }

div.jumpbox-return {
	display: block;
	margin-bottom: 20px;
}

div.jumpbox-return > a {
	margin-top: 6px;
	margin-bottom: 6px;
}

@media (max-width: 480px) {
	div.jumpbox-return > a {display: none; }
}

/* =======================================================================
 * Stats block
 * ======================================================================= */
.stat-block {
	float: left;
	margin-bottom: 0;
	width: 50%;
}

@media (max-width: 767px) {
	.stat-block {
		float: none;
		width: 100%;
	}
}

.section-viewtopic .stat-block.online-list { width: 100%; }

.stat-block.birthday-list + .stat-block.statistics { margin-top: 20px; }

.stat-block.birthday-list,
.stat-block.statistics,
.stat-block.permissions { text-align: right; }

@media (max-width: 767px) {
	.stat-block.birthday-list,
	.stat-block.statistics,
	.stat-block.permissions { text-align: left; }

	.stat-block + .stat-block { margin-top: 20px; }
}

.stat-block p { font-size: 12px; }

.stat-block:last-child,
.stat-block p:last-child { margin-bottom: 0; }

/* =======================================================================
 * Dropdown extended
 * ======================================================================= */
.dropdown-extended {
	display: none;
	z-index: 1;
}

.dropdown-extended ul {
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	clear: both;
}

.dropdown-extended ul li {
	position: relative;
	float: none;
	padding: 0;
	margin: 0 !important;
	border-top: 1px solid #e3e3e3;
	list-style-type: none;
	font-size: 12px;
	clear: both;
}

.dropdown-extended ul li:hover { background-color: #eeeeee; }

.dropdown-extended ul li:first-child { border-top: none; }

.dropdown-extended ul li.no_notifications { padding: 10px; }

.dropdown-extended .dropdown-contents {
	max-height: none;
	padding: 0;
	position: absolute;
	width: 340px;
}

@media (max-width: 480px) {
	.dropdown-extended .dropdown-contents { width: auto; }
}

.nojs .dropdown-extended .dropdown-contents { position: relative; }

.dropdown-extended .pointer-inner { border-color: #e7e7e7 transparent; }

.dropdown-extended .header {
	padding: 0 10px;
	font-size: 11px;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	line-height: 30px;
	background-color: #e7e7e7;
	border-bottom: 1px solid #e3e3e3;
}

.dropdown-extended .header .header_settings {
	float: right;
	font-weight: normal;
	text-transform: none;
}

@media (max-width: 480px) {
	.dropdown-extended .header .header_settings { display: none; }
}

.dropdown-extended .footer {
	border-top: 1px solid #e3e3e3;
	text-align: center;
}

.dropdown-extended ul li a,
.dropdown-extended ul li.no-url { padding: 8px; }

.dropdown-extended .footer > a { padding: 5px 0; }

.dropdown-extended ul li a,
.notification_list dt > a,
.dropdown-extended .footer > a {
	display: block;
	text-decoration: none;
}

.notification_list ul li img {
	float: left;
	max-height: 50px;
	max-width: 50px;
	width: auto !important;
	height: auto !important;
	margin-right: 5px;
}

.notification_list ul li p {
	margin-bottom: 4px;
	font-size: 12px;
}

.notification_list p.notification-reference,
.notification_list p.notification-location,
.notification_list li a p.notification-reason {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notification_list p.notification-time {
	font-size: 10px;
	margin: 0;
	text-align: right;
}

.notification_list div.notifications {
	margin-left: 50px;
	padding: 5px;
}

li.notification-reported strong,
li.notification-disapproved strong { color: #b3001e; }

.notification_list div.notifications a { display: block; }

.notification_list p.notifications_title { font-size: 13px !important; }

.notification_list p.notifications_title strong { font-weight: 600; }

.notification_list p.notifications_time {
	font-size: 10px !important;
	color: #656565;
}

.notification_text { margin-left: 58px; }

/* =======================================================================
 * Navbar specific list items
 * ======================================================================= */
#quick-links { margin: 0; }

#quick-links a.responsive-menu-link {
	display: block;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	width: auto;
}

#quick-links a.responsive-menu-link:before {
	font-size: 16px;
	line-height: 16.5px;
}

.compact #quick-links a.responsive-menu-link { font-size: 0; }

.compact .icon-notification > a > span,
.compact .icon-pm > a > span { display: none; }

.compact .icon-notification > a > strong,
.compact .icon-pm > a > strong { padding-left: 2px; }

.dropdown-page-jump .dropdown { top: 20px; }

.dropdown-page-jump.dropdown-up .dropdown { bottom: 20px; }

.dropdown-page-jump input.tiny { width: 50px; }

.responsive .dropdown .clone { display: inherit; }

.dropdown .clone + li.separator { display: none; }

.responsive .dropdown .clone + li.separator { display: inherit; }

@media (max-width: 767px) {
	.responsive-hide { display: none !important; }

	.responsive-show { display: block !important; }

	.responsive-show-inline { display: inline !important; }

	.responsive-show-inline-block { display: inline-block !important; }

	.icon-notification > a > span,
	.icon-pm > a > span { display: none; }
}
