/* =======================================================================
 * Content Styles
 * ======================================================================= */
ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.topiclist li {
	position: relative;
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.topiclist li.header {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	margin-bottom: 10px;
	border: 0;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

ul.topiclist li.header dt { width: 100%; }

ul.topiclist li.header dt .list-inner { padding: 0; }

ul.topiclist li.header dt .list-inner > a { display: inline-block; }

ul.topiclist li.header dd { display: none; }

ul.topiclist li dl {
	position: relative;
	display: block;
	padding: 0;
}

ul.topiclist li > dl > dt,
ul.topiclist li > dl > dd {
	display: block;
	float: left;
}

li.row {
	border: 1px solid #e7e7e7;
	border-top: 0;
}

li.row:first-child { border-top: 1px solid #e7e7e7; }

li.row dl > dt,
li.row dl > dd { padding: 15px 10px; }

li.row dl > dt {
	width: 60%;
	font-size: 12px;
}

@media (max-width: 767px) {
	li.row dl > dt { width: 100%; }
}

/* Forum list column styles * Position of folder icon */
li.row dl.icon {
	background-position: 15px 25px;
	background-repeat: no-repeat;
}

/* Position of topic icon */
li.row dl.icon dt {
	background-position: 10px 90%;
	background-position: 10px calc(100% - 25px);
	background-repeat: no-repeat;
}

/* Forum & Topic icons */
.global_read,
.announce_read { background-image: url("./images/announce_read.gif"); }
.global_read_mine,
.announce_read_mine { background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked,
.announce_read_locked { background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine,
.announce_read_locked_mine { background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread,
.announce_unread { background-image: url("./images/announce_unread.gif"); }
.global_unread_mine,
.announce_unread_mine { background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked,
.announce_unread_locked { background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine,
.announce_unread_locked_mine { background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link { background-image: url("./images/forum_link.gif"); }
.forum_read { background-image: url("./images/forum_read.gif"); }
.forum_read_locked { background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum { background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread { background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked { background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum { background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read { background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine { background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked { background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine { background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread { background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine { background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked { background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine { background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved { background-image: url("./images/topic_moved.gif"); }
.topic_read { background-image: url("./images/topic_read.gif"); }
.topic_read_mine { background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot { background-image: url("./images/topic_read_hot.gif"); }
.topic_read_hot_mine { background-image: url("./images/topic_read_hot_mine.gif"); }
.topic_read_locked { background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine { background-image: url("./images/topic_read_locked_mine.gif"); }

.topic_unread { background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine { background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot { background-image: url("./images/topic_unread_hot.gif"); }
.topic_unread_hot_mine { background-image: url("./images/topic_unread_hot_mine.gif"); }
.topic_unread_locked { background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine { background-image: url("./images/topic_unread_locked_mine.gif"); }

.pm_read { background-image: url("./images/topic_read.gif"); }
.pm_unread { background-image: url("./images/topic_unread.gif"); }

/* Space for folder icon */
li.row dl.icon dt .list-inner { padding-left: 50px; }

/* topic row icon links */
dl a.icon-link {
	position: absolute;
	top: 25px;
	left: 15px;
	display: block;
	padding: 0;
	width: 30px;
	height: 30px;
}

ul.topiclist li.row dt a.subforum {
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	padding: 0 0 0 12px;
}

@media (max-width: 480px) {
	ul.topiclist li.row dt a.subforum {
		display: inline-block;
		vertical-align: bottom;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100px;
	}
}

ul.topiclist li.row dt a.subforum.read { background-image: url("./images/subforum_read.gif"); }

ul.topiclist li.row dt a.subforum.unread { background-image: url("./images/subforum_unread.gif"); }

.forum-image {
	float: left;
	padding-top: 0;
	margin-right: 5px;
}

/* List in forum description */
li.row dl.icon dt ol,
li.row dl.icon dt ul {
	list-style-position: inside;
	margin-left: 10px;
}

li.row dl.icon dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.posts,
dd.topics,
dd.views,
dd.extra,
dd.mark {
	width: 10%;
	font-size: 12px;
	text-align: center;
}

@media (max-width: 480px) {
	dd.posts,
	dd.topics,
	dd.views,
	dd.extra,
	dd.mark { width: 50%; }
}

@media (min-width: 481px) and (max-width: 767px) {
	dd.posts,
	dd.topics,
	dd.views,
	dd.extra,
	dd.mark { width: 25%; }
}

dd.lastpost,
dd.redirect,
dd.moderation,
dd.time,
dd.info {
	width: 20%;
	font-size: 12px;
}

@media (max-width: 480px) {
	dd.lastpost,
	dd.redirect,
	dd.moderation,
	dd.time,
	dd.info { width: 100%; }
}

@media (min-width: 481px) and (max-width: 767px) {
	dd.lastpost,
	dd.redirect,
	dd.moderation,
	dd.time,
	dd.info { width: 50%; }
}

dd.lastpost > span,
ul.topiclist dd.info > span,
ul.topiclist dd.time > span,
dd.redirect > span,
dd.moderation > span { display: block; }

dd.option {
	width: 15%;
	font-size: 12px;
	text-align: center;
}

li.row strong { font-weight: normal; }

ul.topiclist dfn { display: none; }

ul.topiclist dd.posts dfn,
ul.topiclist dd.topics dfn,
ul.topiclist dd.views dfn {
	display: inline-block;
	text-transform: lowercase;
}

/* =======================================================================
 * Post body styles
 * ======================================================================= */
.postbody {
	position: relative;
	float: left;
	padding: 0;
	padding-right: 10px;
	width: 80%;
}

@media (max-width: 767px) {
	.postbody {
		position: inherit;
		float: none;
		display: block;
		padding: 0;
		width: 100%;
		min-height: 0;
	}
}

.postbody .ignore { font-size: 12px; }

.postbody h3.first {
	/* The first post on the page uses this */
	font-size: 20px;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	float: left;
	padding: 0;
	margin-top: 0 !important;
	margin-bottom: 10px !important;
	text-transform: none;
	border: none;
}

@media (max-width: 480px) {
	.has-profile .postbody h3 {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.postbody h3 img { vertical-align: bottom; }

.has-profile .postbody h3 {
	/* If there is a post-profile, we position the post-buttons differently */
	float: none !important;
	margin-right: 180px;
}

.postbody .content { overflow-x: auto; }

.postbody img.postimage { max-width: 100%; }

.search .postbody { width: 75% }

@media (max-width: 767px) {
	.search .postbody {
		position: inherit;
		float: none;
		display: block;
		padding: 0;
		width: 100%;
		min-height: 0;
	}
}

/* =======================================================================
 * Poster profile block
 * ======================================================================= */
.postprofile {
	float: right;
	display: block;
	margin-bottom: 10px;
	min-height: 80px;
	width: 20%;
	border: 1px solid #e3e3e3;
	border-width: 0 0 0 1px;
}

@media (max-width: 767px) {
	.postprofile {
		position: inherit;
		float: none;
		display: block;
		padding: 0;
		width: 100%;
		min-height: 0;
	}

	.post .postprofile {
		padding-bottom: 10px;
		margin: 0;
		margin-bottom: 10px;
		min-height: 40px;
		border-width: 0 0 1px 0;
		overflow: hidden;
	}
}

.postprofile dt { margin-left: 10px; }

.postprofile dd {
	margin-bottom: 5px;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.postprofile dt.no-profile-rank,
.postprofile dd.profile-rank,
.postprofile .search-result-date { margin-bottom: 10px; }

.postprofile dd:last-child { margin-bottom: 0; }

@media (max-width: 480px) {
	.postprofile dd { display: none; }

	.postprofile dt,
	.postprofile dd.profile-rank,
	.search .postprofile dd {
		display: block;
		margin-bottom: 5px;
		margin-left: 0;
	}
}

.postprofile strong { font-weight: normal; }

/* Post-profile avatars */
.postprofile .has-avatar .avatar-container {
	margin-bottom: 5px;
	overflow: hidden;
}

@media (max-width: 480px) {
	.postprofile .has-avatar .avatar-container {
		margin: 0;
		overflow: inherit;
	}

	.postprofile .avatar-container:after { clear: none; }
}

.postprofile .avatar {
	display: block;
	float: left;
	max-width: 100%;
}

@media (max-width: 480px) {
	.postprofile .avatar { margin-right: 5px; }
}

.postprofile .avatar img {
	display: block;
	height: auto !important;
	max-width: 100%;
}

@media (max-width: 480px) {
	.postprofile .avatar img {
		width: auto !important;
		height: auto !important;
		max-height: 32px;
	}
}

.postprofile .profile-posts a { font-weight: normal; }

dd.profile-warnings {
	font-weight: 600;
	color: #ff6529;
}

dd.profile-contact { overflow: visible; }

.profile-contact .dropdown-container { display: inline-block; }

.profile-contact .icon_contact { vertical-align: middle; }

.profile-contact .dropdown { margin-right: -22px; }

.online {
	background-image: url("./en/icon_user_online.gif");
	background-position: 100% 0;
	background-repeat: no-repeat;
}

@media (max-width: 480px) {
	.online {
		-webkit-background-size: 40px;
						background-size: 40px;
	}
}

/* Poster profile used by search*/
.search .postprofile { width: 25%; }

/* Profile used on view-profile */
.profile-avatar img { max-width: 100%; }

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt { width: 60% !important; }

dl.pmlist dt textarea { width: 100%; }

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 0;
}

.action-bar div.dl_links { padding: 10px 0 0 10px; }

div.dl_links {
	display: inline-block;
	text-transform: none;
}

.dl_links strong { font-weight: 600; }

.dl_links ul {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}

.dl_links li { display: inline-block; }

.attachment-filename { width: 100%; }

.ellipsis-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.fixed-width-table { table-layout: fixed; }

/* =======================================================================
 * Topic review panel
 * ======================================================================= */
#review { margin-top: 20px; }

#topicreview {
	padding-right: 5px;
	overflow: auto;
	height: 300px;
}

@media (max-width: 480px) {
	#topicreview {
		margin: 0 -5px;
		padding: 0 5px;
	}
}

#topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

#topicreview .post { height: auto; }

#topicreview h2 { border-bottom-width: 0; }

.post-ignore .postbody { display: none; }

/* =======================================================================
 * MCP Post details
 * ======================================================================= */
#post_details {
	overflow: auto;
	max-height: 300px;
}

/* =======================================================================
 * Content container styles
 * ======================================================================= */
.content {
	clear: both;
	overflow: hidden;
}

.content h2,
.panel h2 {
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 300;
	border-bottom: 2px solid #12a3eb;
	font-size: 28px;
}

.announce,
.unreadpost { /* Highlight the announcements & unread posts box */ }

dl.faq {
	margin-top: 0;
	margin-bottom: 20px;
}

dl.faq:last-child { margin-bottom: 0; }

dl.faq dt {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

.content li { list-style-type: inherit; }

.content ul,
.content ol {
	margin-bottom: 10px;
	margin-left: 2px;
}

.posthilit {
	padding: 1px 2px;
	background-color: #ed1236;
	color: #ffffff;
}

/* Post author */
p.author {
	margin-bottom: 10px;
	padding: 0 0 5px 0;
	clear: both;
}

/* Post signature */
.signature {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #e3e3e3;
	clear: left;
	overflow: hidden;
	width: 100%;
}

.signature.standalone {
	border-top-width: 0;
	margin-top: 0;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li { list-style-type: inherit; }

.signature ul,
.signature ol {
	margin-bottom: 10px;
	margin-left: 20px;
}

/* Post noticies */
.notice {
	width: auto;
	margin-top: 20px;
	border-top: 1px dashed #e3e3e3;
	clear: left;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* =======================================================================
 * BB Code styles
 * =======================================================================
 * Quote block
 * ======================================================================= */
blockquote {
	padding: 10px 10px 10px 5px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-left: 5px solid #12a3eb;
}

blockquote blockquote {
	margin-bottom: 0;
	margin-left: 5px;
	background-color: #eeeeee;
}

blockquote blockquote blockquote { background-color: #e7e7e7; }

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: 600;
	margin-left: 20px;
	display: block;
}

blockquote cite cite { font-size: 10px; }

blockquote.uncited { padding-top: 25px; }

/* ========================================================================
 * Code block
 * ======================================================================== */
.codebox {
	padding: 5px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
}

.codebox p {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 1px solid e3e3e3;
	font-weight: 600;
}

blockquote .codebox { margin-left: 0; }

.codebox code {
	display: block;
	padding-top: 5px;
	margin: 0;
	height: auto;
	max-height: 200px;
	overflow: auto;
	white-space: normal;
	color: #656565;
	font-family: "Inconsolata", mono;
	font-size: 10px;
}

.syntaxbg { color: #ffffff; }

.syntaxcomment { color: #00946a; }

.syntaxdefault { color: #007494; }

.syntaxhtml { color: #656565; }

.syntaxkeyword { color: #2a9400; }

.syntaxstring { color: #94002a; }

/* =======================================================================
 * Attachments
 * ======================================================================= */
.attachbox {
	float: left;
	width: auto;
	max-width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	clear: left;
	background-color: #ffffff;
	border: 1px dashed #e3e3e3;
}

.pm-message .attachbox { background-color: #f5f5f5; }

.attachbox dt { text-transform: uppercase; }

.attachbox dd {
	margin-top: 5px;
	padding-top: 5px;
	clear: left;
	border-top: 1px solid #e3e3e3;
	overflow-x: auto;
}

.attachbox dd dd { border: none; }

.attachbox p,
.attachbox p.stats {
	line-height: 20px;
	font-weight: normal;
	clear: left;
	color: #666666;
}

.attach-image {
	margin: 3px 0;
	max-width: 100%;
}

.attach-image img {
	border: 1px solid #bbbbbb;
	cursor: default;
}

@media (max-width: 480px) {
	.attach-controls {
		margin-top: 5px;
		width: 100%;
	}

	.attach-comment dfn { width: 100%; }
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail,
div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p { font-size: 100%; }

dl.file { display: block; }

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: 600;
}

dl.file dd {
	margin: 0;
	padding: 0;
	color: #999999;
}

dl.thumbnail img {
	padding: 4px;
	border: 1px solid #bbbbbb;
	background-color: #ffffff;
}

dl.thumbnail dd {
	color: #999999;
	font-style: italic;
}

.attachbox dl.thumbnail dd { font-size: 100%; }

dl.thumbnail dt a:hover { background-color: #eeeeee; }

dl.thumbnail dt a:hover img { border: 1px solid #0084b8; }

/* =======================================================================
 * Post poll styles
 * ======================================================================= */
fieldset.polls { }

fieldset.polls dl {
	padding: 5px 0 0 0;
	margin-top: 5px;
	border-top: 1px solid #e3e3e3;
	line-height: 20px;
}

fieldset.polls dl.voted { font-weight: 600; }

fieldset.polls dt {
	float: left;
	display: block;
	width: 30%;
	padding: 0;
	margin: 0;
	border-right: none;
	color: #656565;
	text-align: left;
}

@media (max-width: 767px) {
	fieldset.polls dt { width: 90%; }
}

fieldset.polls dd {
	float: left;
	padding: 0 5px;
	width: 10%;
	border-left: none;
	margin-left: 0;
}

fieldset.polls dd.resultbar { width: 50%; }

@media (max-width: 767px) {
	fieldset.polls dd.resultbar { padding-left: 20px; }

	fieldset.polls dd.poll_option_percent { width: 20%; }

	fieldset.polls dd.resultbar,
	fieldset.polls dd.poll_option_percent { margin-top: 5px; }
}

fieldset.polls dd input { margin: 2px 0; }

fieldset.polls dd div {
	text-align: right;
	padding: 0 2px;
	overflow: visible;
	min-width: 10px;
	font-weight: 600;
	color: #ffffff;
}

.pollbar1,
.pollbar2,
.pollbar3,
.pollbar4,
.pollbar5 { border-bottom: 1px solid rgba(0,0,0,.125); }

.pollbar1 { background-color: #b3001e; }

.pollbar2 { background-color: #ed1236; }

.pollbar3 { background-color: #ed5b12; }

.pollbar4 { background-color: #10d5b5; }

.pollbar5 { background-color: #31d510; }

.vote-submitted {
	font-weight: 600;
	text-align: center;
}
